@import "src/app/shared/theme_variables.scss";

:host {
    display: block;
    padding: 0 0.875rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: $secondary-color-400;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    cursor: pointer;
    font-family: $default-font-family;
    font-weight: 600;
    font-size: 14px;
   
    &.selected {
      background-color: #f7f7f7;
      font-weight: 600;
   
      &:hover/*, &.active*/ {
        background-color: #f7f7f7;
   
        @media screen and (-ms-high-contrast: active) {
          background-color: #f7f7f7;
        }
      }
    }
   
    &:hover/*, &.active*/ {
      outline: none;
      background-color: #f7f7f7;
   
      @media screen and (-ms-high-contrast: active) {
        background-color: #f7f7f7;
      }
    }
   
    &.disabled {
      color: #93a1aa;
      cursor: auto;
   
      &:hover, &:focus {
        outline: none;
        background-color: #fff;
   
        @media screen and (-ms-high-contrast: active) {
          background-color: #fff;
        }
      }
    }
  }
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-radius: 4px !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #3333CC !important; /* Red background for example */
  border-radius: 4px !important;
}