<div class="custom-input-wrapper">
  <div class="input" [class.required]="required" #dropreference>
    <label class="label-text">{{label}}</label>
    <div class="custom-container-input">
      <input #input
              placeholder={{placeholder}}
              [disabled]="disabled"
              readonly
              [value]="displayText"
              (click)="showDropdown()"
              (keydown)="onKeyDown($event)"
              (blur)="onTouched()"
              autocomplete="off"
              multiple>
    </div>
    <div class="custom-container-icon">
      <div class="dropdown-arrow" (click)="onDropMenuIconClick($event)"></div>
    </div>
    <custom-dropdown [reference]="dropreference" #dropdownComp>
      <div class="dropdown-options-container">        
        <ng-content select="custom-select-option"></ng-content>
      </div>
    </custom-dropdown>
  </div>
</div>
