@import "src/app/shared/theme_variables.scss";

.custom-input-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
  font-family: $default-font-family;
    
  .input {
    width: inherit;
    height: inherit;
    position: relative;
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 0;
    outline: 0;
    border-radius: 8px;
    padding: 4%;
    border: solid 1px $secondary-color-300;
    font-family: $default-font-family;

    .dropdown-arrow {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000000;
      display: inline-flex;
      cursor: pointer;
    }
 
    input {
      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
      color: $secondary-color-400;
      outline: 0;
      cursor: pointer;
      font-size: inherit;
      border: none;
      font-family: $default-font-family;
      font-weight: 600;
      box-sizing: border-box;
      width: 96%;
 
      &:focus {
        border-bottom: none;
      }
 
      &:disabled {
        cursor: default;
        color: #93a1aa;
        border-bottom: solid 1px #93a1aa;
      }
 
      &:disabled + .dropdown-arrow {
        color: #93a1aa;
      }
    }  
 
    &.required label:after {
      color: red;
      content: "*";
      position: relative;
      left: 5px;
      bottom: 5px;
    }
  }
}
 
.dropdown-options-container {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $secondary-color-300;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.24);
  display: block;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
width: 8px;
border-radius: 0px 8px 8px 0px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 0px 8px 8px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 0px 8px 8px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
border-radius: 0px 8px 8px 0px;
}

::placeholder {
color: $secondary-color-300;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: $secondary-color-300;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: $secondary-color-300;
}