<div [class]="disabled ? 'custom-input-wrapper custom-input-wrapper-disabled' : 'custom-input-wrapper'" 
      multiple  
      [class.required]="required" 
      #dropreference>
  <div class="custom-input-wrapper-padding-left" (click)="showDropdown()"></div>
  <label class="label-text">{{label}}</label>    
  <input #input
          placeholder={{placeholder}}
          [disabled]="disabled"
          readonly
          [value]="displayText"
          (click)="showDropdown()"
          (keydown)="onKeyDown($event)"
          (blur)="onTouched()"
          autocomplete="off">
    <div class="container-dropdown-arrow" (click)="showDropdown()">
      <div class="dropdown-arrow" (click)="onDropMenuIconClick($event)">
        <custom-dropdown markAll checkAll [reference]="dropreference" #dropdownComp>
          <div class="dropdown-options-container">        
            <ng-content select="custom-select-option"></ng-content>
          </div>
        </custom-dropdown>
      </div>      
    </div>
</div>
