<div [class]="disabled ? 'custom-input-minmax-wrapper custom-input-minmax-wrapper-disabled' : 'custom-input-minmax-wrapper'" 
      [class.required]="required"
      (click)="disabled ? false : showDropdown()"
      #dropreference>
  <div class="custom-input-minmax-wrapper-padding-left"  ></div>
  <div class="display-text">
    <input #input
      placeholder="{{placeholder}}"
      [disabled]="disabled"
      readonly
      [value]="displayText"
      (click)="showDropdown()"
      (blur)="onTouched()"
      autocomplete="off">
  </div>
  <div class="container-dropdown-arrow" >
    <div class="dropdown-arrow" >
      <app-custom-dropdown-minmax [reference]="dropreference" #dropdownComp>
        <div class="dropdown-options-container">
          <div>
            <app-custom-input type="number" [required]="requiredMin" max={{maxValueInput}} [(ngModel)]="minValueInput" label="Mínimo" placeholder="Mínimo"></app-custom-input>
          </div>
          <div>
            <app-custom-input type="number" [required]="requiredMax" min="{{minValueInput}}" [(ngModel)]="maxValueInput" label="Máximo" placeholder="Máximo"></app-custom-input>
          </div>
          <div class="buttons">
            <button mat-raised-button [disabled]="isInvalid()" color="primary" (click)="disabled ? false : onSetValuesAndDisplayText()">{{ nameButton }}</button>
          </div>
        </div>
      </app-custom-dropdown-minmax>
    </div>      
  </div>    
  <label class="label-text">{{label}}</label>    
</div>
