/*
 * Application global variables.
 */

// FONT
$default-font-family: "Montserrat", sans-serif;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;

// SIZE
$size-4: 4px;
$size-6: 6px;
$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;

// BORDERS
$border-default: 12px;
$thin-border-radius: 4px;
$default-border-radius: 8px;

// COLOURS
$bs2-white: #ffffff;

$primary-color-100: #eaeaf9;
$primary-color-200: #d6d6f5;
$primary-color-300: #9696e2;
$primary-color-400: #3333cc;
$primary-color-500: #121281;

$secondary-color-100: #e5e5e5;
$secondary-color-200: #d6d6d6;
$secondary-color-300: #9e9e9e;
$secondary-color-400: #424242;
$secondary-color-500: #161616;

$cyan-color-100: #d4f8f7;
$cyan-color-200: #b2f1f0;
$cyan-color-300: #7fe9e6;
$cyan-color-400: #00d3cd;
$cyan-color-500: #00a8a4;

$red-color-100: #fde7ed;
$red-color-200: #fbb9c9;
$red-color-300: #f98ba6;
$red-color-400: #f4174d;
$red-color-500: #c3123d;

$red-color-invalid-border: #FF5252;
$red-color-invalid-shadow: #FFDCDC;

$green-color-100: #e3f2e1;
$green-color-200: #d0e9cd;
$green-color-300: #b1dbac;
$green-color-400: #64b859;
$green-color-500: #509347;

$yellow-color-100: #fff1d9;
$yellow-color-200: #ffe2b2;
$yellow-color-300: #ffc766;
$yellow-color-400: #ffa100;
$yellow-color-500: #e08d00;

// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

@import "~@angular/material/theming";
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

// Defines BLUE (primary) colour palette:
$mat-bs2-primary: (
  100: #eaeaf9,
  200: #d6d6f5,
  300: #9696e2,
  400: #3333cc,
  500: #121281,
  contrast: (
    400: #ffffff,
    500: #ffffff
  )
);

// Defines BLACK (secondary) colour palette:
$mat-bs2-accent: (
  100: #e5e5e5,
  200: #d6d6d6,
  300: #9e9e9e,
  400: #424242,
  500: #161616,
  contrast: (
    200: #9e9e9e,
    400: #ffffff,
    500: #ffffff
  )
);

$app-primary: mat-palette($mat-bs2-primary, 400, 300, 500);
$app-accent: mat-palette($mat-bs2-accent, 400, 300, 500);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Material design icons font path
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
