app-custom-select {
    display: inline-flex;
    width: 218px;
    height: 48px;
    margin-right: 24px;
}

app-custom-select-button {
  display: inline-flex;
  width: 218px;
  height: 48px;
  margin-right: 24px;
}

app-custom-select-minmax {
  display: inline-flex;
  width: 218px;
  height: 48px;
  margin-right: 24px;
}
/*
app-custom-select-minmax {
  display: inline-flex;
  width: 218px;
  height: 48px;
  margin-right: 24px;
}*/

app-custom-textarea {
  width: 611px;
  height: 154px;
  margin-right: 24px;
}

.container {
    display: inline-flex;
    padding: 24px;

    .div-container {
      margin: 10px;
    }
}