<div class="container">

<div>
  <h2>custom-select</h2>

<!--
<div *ngIf="data.length > 10">
  <app-custom-select 
                  placeholder="Pick Your Holiday Destination"
                  [(ngModel)]="selectedDestination"
                  #model="ngModel"               
                  [multiple]="true"
                  [markAll]="true">
    <app-custom-select-option key="{{item}}" *ngFor="let item of data;" [value]="item"></app-custom-select-option>
  </app-custom-select>
  <div>
    Você escolheu: {{selectedDestination}}
  </div>
</div>
-->

<div class="div-container">
  <app-custom-select 
                placeholder="Pick Your Holiday Destination"
                [(ngModel)]="selectedDestination2"
                #model="ngModel">
    <app-custom-select-option key="{{item.id}}" *ngFor="let item of data2;" [value]="item.name"></app-custom-select-option>
  </app-custom-select>
</div>

<!--
<div>
  <form>
    <app-custom-select 
        placeholder="Pick Your Holiday Destination"
        [formControl]="selectedDestination3">
      <app-custom-select-option key="{{item.id}}" *ngFor="let item of data2;" [value]="item.name" ></app-custom-select-option>
    </app-custom-select>
    <div>
      Você escolheu: {{selectedDestination3.value}}
    </div>
  </form>
</div>

<div>
  <form  [formGroup]="profileForm">
    <app-custom-select 
        placeholder="Pick Your Holiday Destination"
        formControlName="id">
      <app-custom-select-option key="{{item.id}}" *ngFor="let item of data2;" [value]="item.name" ></app-custom-select-option>
    </app-custom-select>
    <div>
      Você escolheu: {{profileForm.get('id').value}}
    </div>
  </form>
</div>

<div>
  <form  [formGroup]="profileForm2" >
    <div formGroupName="item">
      <app-custom-select 
          placeholder="Pick Your Holiday Destination"
          formControlName="id">
        <app-custom-select-option [key]="item" (click)="showContent()" *ngFor="let item of data2;" [value]="item.name" ></app-custom-select-option>
      </app-custom-select>
    </div>
  </form>
</div>
-->

<div class="div-container">
  <form  [formGroup]="profileForm3" >
    <div>
      <app-custom-select [disabled]="false"
          placeholder="Pick Your Holiday Destination"
          formControlName="item"
          [multiple]="true"
          [markAll]="true">
        <app-custom-select-option [checkAll]="true" [key]="0" [value]="'Todos'" (click)="selectAll()"></app-custom-select-option>
        <app-custom-select-option [key]="item" (click)="selectOne(item)" *ngFor="let item of data2; trackBy: trackByFn;" [value]="item.name" ></app-custom-select-option>
      </app-custom-select>
    </div>
  </form>
</div>

  <div class="div-container">
    <form  [formGroup]="profileForm3" >
      <div>
        <app-custom-select 
            label="app-custom-input"
            [disabled]="false"
            formControlName="item"
            [multiple]="true"
            [markAll]="true">
          <app-custom-select-option [checkAll]="true" [key]="0" [value]="'Todos'" (click)="selectAll()"></app-custom-select-option>
          <app-custom-select-option [key]="item" (click)="selectOne(item)" *ngFor="let item of data2; trackBy: trackByFn;" [value]="item.name" ></app-custom-select-option>
        </app-custom-select>
      </div>
    </form>
  </div>
  
    <div class="div-container">
      <form  [formGroup]="profileForm3" >
        <div>
          <app-custom-select 
              [disabled]="true"
              placeholder="Pick Your Holiday Destination"
              formControlName="item"
              [multiple]="true">
            <app-custom-select-option [key]="item" (click)="selectOne(item)" *ngFor="let item of data2; trackBy: trackByFn;" [value]="item.name" ></app-custom-select-option>
          </app-custom-select>
        </div>
      </form>
    </div>
</div>

<div>
  <h2>custom-input</h2>
  
<div class="div-container">
  <app-custom-input
      name="userName"
      label="User Name"
      [disabled]="true"
      placeholder="Please enter your user name"
      [(ngModel)]="customInput"
      (click)="mostrar()">
    </app-custom-input>
</div>

    <div class="div-container">
      <app-custom-input
        required="true"
        name="userName"
        label="User Name"
        placeholder="User Name"
        minlength="3"
        maxlength="6"
        [required]="false"
        [(ngModel)]="customInput2"
        (click)="mostrar()">
      </app-custom-input>
    </div>

<div class="div-container">
  <app-custom-input
    type="textarea"
    name="userName"
    label="User Name"
    placeholder="User Name"
    maxlength="255"
    [required]="false"
    [(ngModel)]="customInput3"
    (click)="mostrar()">
  </app-custom-input>
</div>
</div>

<div>
  <h2>custom-textarea</h2>

  <div class="div-container">  
    <app-custom-textarea 
      value="GOOGLE LLC, ACCOUNTS RECEIVABLE    ACCOUNTS RECEIVABLE                1600 AMPHITHEATRE PKWY             MOUNTAIN VIEW CA US 94043-1351" 
      [hasLabel]="true"
      label="Ordenante"
      [removeWhiteSpace]="true"
      [hasClassDefault]="false"
      breakLineWhithSpace="3"
      rows="5">
    </app-custom-textarea>
  </div>
  
  <div class="div-container">  
    <app-custom-textarea 
      value="GOOGLE LLC, ACCOUNTS RECEIVABLE    ACCOUNTS RECEIVABLE                1600 AMPHITHEATRE PKWY             MOUNTAIN VIEW CA US 94043-1351" 
      [hasLabel]="true"
      label="Ordenante"
      [removeWhiteSpace]="false"
      [hasClassDefault]="true"
      breakLineWhithSpace="3"
      [disabled]="true"
      rows="5">
    </app-custom-textarea>
  </div>
  
  <div class="div-container" style="margin-top: 50px;">  
    <app-custom-textarea 
      value="GOOGLE LLC, ACCOUNTS RECEIVABLE    ACCOUNTS RECEIVABLE                1600 AMPHITHEATRE PKWY             MOUNTAIN VIEW CA US 94043-1351" 
      [hasLabel]="true"
      label="Ordenante"
      [removeWhiteSpace]="false"
      [hasClassDefault]="true" 
      breakLineWhithSpace="10">
    </app-custom-textarea>
  </div>
</div>

<div>
  <button (click)="limpar()">Limpar</button>
</div>



<!--
<app-custom-select [required]="true"
               label="Destination"
               placeholder="Pick Your Holiday Destination"
               [(ngModel)]="selectedDestination4"
               #model="ngModel">
  <app-custom-select-option [key]="item" *ngFor="let item of data" [value]="item"></app-custom-select-option>
</app-custom-select>
<div *ngIf="model.invalid && (model.dirty || model.touched)" style="color: red">
  <div *ngIf="model.errors.required">
    Destintation is required.
  </div>
</div>
-->

