@import "src/app/shared/theme_variables.scss";

:host {
  display: block;
  padding: 0 0.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  //color: $secondary-color-400;
  //background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  font-family: $default-font-family;
  font-weight: 600;
  font-size: 14px;

    //config cor
    background-color: $primary-color-400;
    color: white;
 
  &.selected {
    background-color: $primary-color-500;
    font-weight: 600;
 
    &:hover/*, &.active*/ {
      background-color: $primary-color-500;
 
      @media screen and (-ms-high-contrast: active) {
        background-color: $primary-color-500;
      }
    }
  }
 
  &:hover/*, &.active*/ {
    outline: none;
    background-color: $primary-color-500;
 
    @media screen and (-ms-high-contrast: active) {
      background-color: $primary-color-500;
    }
  }
 
  &.disabled {
    color: #93a1aa;
    cursor: auto;
 
    &:hover, &:focus {
      outline: none;
      background-color: #fff;
 
      @media screen and (-ms-high-contrast: active) {
        background-color: #fff;
      }
    }
  }
}