<div [class]="disabled ? 'custom-input-button-wrapper custom-input-button-wrapper-disabled' : 'custom-input-button-wrapper'" 
      [class.required]="required" 
      #dropreference>
  <div class="custom-input-button-wrapper-padding-left" (click)="disabled ? false : showDropdown()"></div>
  <input #input
          [disabled]="disabled"
          readonly
          [value]="displayText"
          (click)="showDropdown()"
          (keydown)="onKeyDown($event)"
          (blur)="onTouched()"
          autocomplete="off">
    <div class="container-dropdown-arrow" (click)="disabled ? false : showDropdown()">
      <div class="dropdown-arrow" (click)="onDropMenuIconClick($event)">
        <app-custom-dropdown-button markAll checkAll [reference]="dropreference" #dropdownComp>
          <div class="dropdown-options-container">        
            <ng-content select="app-custom-select-button-option"></ng-content>
          </div>
        </app-custom-dropdown-button>
      </div>      
    </div>    
  <label class="label-text">{{label}}</label>    
</div>
