@import "src/app/shared/theme_variables.scss";

.custom-input-wrapper {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    display: grid;
    justify-items: center;

    .custom-input-inside {
        position: relative;
        width: 100%;
        display: grid;
        justify-items: center;

        input[class*="has-value"] + .custom-input-label {
            opacity: 1;
            top: -6px;
            color: #9e9e9e;
        }

        .custom-input-label {
            position: absolute;
            top: 8px;
            left: 10px;
            opacity:0;
            background-color: #fff;
            padding: 0 2px;
            font-size: 12px;
            -webkit-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }

        .custom-input {
            display: block;
            padding: 15px 10px;
            outline: none;
            border-radius: 8px;
            border: 1px solid #9e9e9e;
            width: 100%;
            font-size: 1rem;
            box-sizing: border-box;
    
            &:focus {
                border-radius: 8px;
                border: 1px solid #9e9e9e;
            }
            
            &:focus + .custom-input-label {
                opacity: 1;
                top: -6px;
                color: #9e9e9e;
            }
        }
        .custom-error-message {
            font-size: 12px;
            color: red;
        }
    }  
}

.custom-input-wrapper-disabled  {
    border: 1px dashed $secondary-color-300 ;
    cursor: default;
    background: none;
}