@import "src/app/shared/theme_variables.scss";

.custom-input-wrapper {
    margin: 0;
    padding: 0;
    font-family: $default-font-family;
    font-weight: 600;
    box-sizing: border-box;
    display: grid;
    justify-items: center;

    .custom-input-inside {
        position: relative;
        width: 100%;
        display: grid;
        justify-items: center;

        input[class*="has-value"] + .custom-input-label {
            opacity: 1;
            top: -6px;
            color: $secondary-color-300;
        }

        input[class*="has-value"]:hover + .custom-input-label {
            color: $primary-color-400;
        }

        .custom-input-label {
            position: absolute;
            top: 8px;
            left: 10px;
            opacity:0;
            background-color: $bs2-white;
            padding: 0 2px;
            font-size: $font-size-12;
            -webkit-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }

        .custom-input {
            display: block;
            padding: 15px 10px;
            outline: none;
            border-radius: $default-border-radius;
            border: 1px solid $secondary-color-300;
            width: 100%;
            box-sizing: border-box;
            color: $secondary-color-400;
            line-height: 14px;
            font-weight: 600;
            font-size: 14px;

            &:hover {
                border: 1px solid $primary-color-400;
            }

            &:focus + .custom-input-label {
                color: $primary-color-400;
                background-color: $bs2-white;
            }
    
            &:focus {
                border: 1px solid $primary-color-400;
                border-radius: $default-border-radius;
                background-color: $bs2-white;
                box-shadow: 0 0 0 3px $primary-color-200;
            }
            
            &:focus + .custom-input-label {
                opacity: 1;
                top: -6px;
                color: $primary-color-400;                
            }

            &:disabled {
                cursor: default;
                background: none !important;
                border: 1px dashed $secondary-color-300 ;
            }

            &:disabled + .custom-textarea-label{
                color: $secondary-color-300 !important;
            }

            &:invalid {
                border: 1px solid $red-color-invalid-border;
                border-radius: $default-border-radius;
                background-color: $bs2-white;
                box-shadow: 0 0 0 3px $red-color-invalid-shadow;
            }

            &:invalid + .custom-input-label {
                color: $red-color-invalid-border !important;
            }
        }
        .custom-error-message {
            font-size: $font-size-12;
            color: $red-color-invalid-border;
        }
    }  
}