<div class="custom-input-wrapper">
    <div class="custom-input-inside" [class.required]="required">
        <input  [type]="type"
                class="custom-input {{ hasValue ? ' has-value' : '' }} {{ hasError ? ' has-error' : ''}}"              
                [required]="required"
                [disabled]="disabled"
                [minlength]="minlength"
                [maxlength]="maxlength"
                [placeholder]="placeholder"
                [(ngModel)]="data"
                [ngModelOptions]="{standalone: true}"                
                (input)="onChange()"
                (change)="onChange()"
                (blur)="onTouchedFn()">
        <label class="custom-input-label">{{ label }}</label>
        <div class="custom-error-message" *ngIf="showError && !disableValidation">
            <label>{{errors[0]}}</label>
        </div>
    </div>
</div>