@import "src/app/shared/theme_variables.scss";

.custom-textarea-wrapper {    
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    font-family: $default-font-family;
    font-weight: 600;
    box-sizing: border-box;
    display: grid;
    justify-items: center;

    .custom-textarea-inside {
        position: relative;
        width: 100%;
        display: grid;
        justify-items: center;

        textarea {
            height: 100%;
            width: 100%;
            resize: none;
        }

        textarea[class*="has-value"] + .custom-textarea-label {
            opacity: 1;
            top: -6px;
            color: $secondary-color-300;
        }

        textarea[class*="has-value"]:hover + .custom-textarea-label {
            color: $primary-color-400;
        }

        .custom-textarea-label {
            position: absolute;
            top: 8px;
            left: 12px;
            opacity:0;
            background-color: $bs2-white;
            padding: 0 4px;
            font-size: $font-size-12;
            -webkit-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }

        .custom-textarea {
            display: block;
            padding: 12px;
            outline: none;
            border-radius: $default-border-radius;
            border: 1px solid $secondary-color-300;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            box-sizing: border-box;    
            
            &:hover {
                border: 1px solid $primary-color-400;
            }

            &:focus + .custom-textarea-label {
                color: $primary-color-400;
                background-color: $bs2-white;
            }
    
            &:focus {
                border: 1px solid $primary-color-400;
                border-radius: $default-border-radius;
                background-color: $bs2-white;
                box-shadow: 0 0 0 3px $primary-color-200;
            }
            
            &:focus + .custom-textarea-label {
                opacity: 1;
                top: -6px;
                color: $primary-color-400;                
            }

            &:disabled {
                cursor: default;
                background: none !important;
                border: 1px dashed $secondary-color-300;
            }

            &:disabled + .custom-textarea-label{
                color: $secondary-color-300 !important;
            }

            &:invalid {
                border: 1px solid $red-color-invalid-border;
                border-radius: $default-border-radius;
                background-color: $bs2-white;
                box-shadow: 0 0 0 3px $red-color-invalid-shadow;
            }

            &:invalid + .custom-textarea-label {
                color: $red-color-invalid-border !important;
            }
        }
        .custom-error-message {
            font-size: 12px;
            color: $red-color-invalid-border;
        }
    }  
}

.custom-textarea-default {
    width: 400px;
    height: 200px;
    display: block;
    padding: 12px;
    outline: none;
    border-radius: $default-border-radius;
    border: 3px solid rgba(158, 158, 158, .15);
    font-size: 1rem;
    box-sizing: border-box;
    color: $secondary-color-400;
    font-size: $font-size-16;
    line-height: 21px;

    &:hover + .custom-textarea-label {
        color: $secondary-color-300 !important;
    }
}


/* width */
::-webkit-scrollbar {
width: 8px;
border-radius: 0px 8px 8px 0px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 0px 8px 8px 0px;
//border-right: 1px solid $secondary-color-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: $secondary-color-200; 
border-radius: 8px;//0px 8px 8px 0px;
}

::placeholder {
color: $secondary-color-300;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: $secondary-color-300;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
  color: $secondary-color-300;
}