@import "src/app/shared/theme_variables.scss";

.custom-textarea-wrapper {    
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    display: grid;
    justify-items: center;

    .custom-textarea-inside {
        position: relative;
        width: 100%;
        display: grid;
        justify-items: center;

        textarea {
            height: 100%;
            width: 100%;
            resize: none;
        }

        textarea[class*="has-value"] + .custom-textarea-label {
            opacity: 1;
            top: -6px;
            color: #9e9e9e;
        }

        .custom-textarea-label {
            position: absolute;
            top: 8px;
            left: 12px;
            opacity:0;
            background-color: #fff;
            padding: 0 4px;
            font-size: 12px;
            -webkit-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }

        .custom-textarea {
            display: block;
            padding: 12px;
            outline: none;
            border-radius: 8px;
            border: 1px solid #9e9e9e;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            box-sizing: border-box;
    
            &:focus {
                border-radius: 8px;
                border: 1px solid #9e9e9e;
            }
            
            &:focus + .custom-textarea-label {
                opacity: 1;
                top: -6px;
                color: #9e9e9e;
            }
        }
        .custom-error-message {
            font-size: 12px;
            color: red;
        }
    }  
}

.custom-input-wrapper-disabled  {
    border: 1px dashed $secondary-color-300 ;
    cursor: default;
    background: none;
}

.custom-textarea-default {
    width: 400px;
    height: 200px;
    display: block;
    padding: 12px;
    outline: none;
    border-radius: 8px;
    border: 3px solid rgba(158, 158, 158, .15);
    font-size: 1rem;
    box-sizing: border-box;
    color: $secondary-color-400;
    font-size: 16px;
    line-height: 21px;
}


/* width */
::-webkit-scrollbar {
width: 8px;
border-radius: 0px 8px 8px 0px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 0px 8px 8px 0px;
//border-right: 1px solid $secondary-color-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 0px 8px 8px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
border-radius: 0px 8px 8px 0px;
}

::placeholder {
color: $secondary-color-300;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: $secondary-color-300;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
  color: $secondary-color-300;
}